In [3]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [5]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [9]:
for num in mylist:
    #check for even here
    if num % 2 == 0:
        print(f'Even number:{num}')
    else:
        print(f'Odd number: {num}')

Odd number: 1
Even number:2
Odd number: 3
Even number:4
Odd number: 5
Even number:6
Odd number: 7
Even number:8
Odd number: 9
Even number:10

In [14]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [15]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [16]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [17]:

for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [18]:

for _ in 'Hello World':
    print('letter')

letter
letter
letter
letter
letter
letter
letter
letter
letter
letter
letter

In [20]:
tup = (1,2,3,4)

for item in tup:
    print(item)

1
2
3
4

In [21]:
mylist = [(1,3), (4,6), (5,8),(3,6)]
len(mylist)

4

In [22]:
for item in mylist:
    print(item)

(1, 3)
(4, 6)
(5, 8)
(3, 6)

In [28]:
#tuple unpacking
for (a,b) in mylist:
    print(a)

1
4
5
3

In [29]:
for a,b in mylist:
    print(a)

1
4
5
3

In [30]:
d = {'k1':1,'k2':2,'k3':3}

In [34]:
for item in d:
    print(item)

k1
k2
k3

In [35]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [37]:
for key,values in d.items():
    print(key, values)

k1 1
k2 2
k3 3